/* #region Common */
body {
  display: flex;
  flex-direction: column;
  margin: 0;
  font-family: "Roboto", sans-serif;
  color: #0a224a;
  background-color: #ffffff;
  min-height: 100vh;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul,
ol {
  list-style-type: none;
  margin: 0;
  padding-left: 0;
}

a {
  text-decoration-line: none;
  color: currentColor;
}

img {
  display: block;
}

main {
  flex-grow: 1;
}

button {
  font-family: inherit;
  color: currentColor;
}

input {
  font-family: inherit;
}

.container {
  max-width: 1320px;
  padding: 0;
  margin: 0 auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* #endregion */

/* #region Header */
.header {
  background-color: #f7faff;
}

.header .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  margin-right: 442px;
}

.logo-icon {
}

.nav {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 26px 0;
}

.nav-list {
  display: flex;
  gap: 30px;
}

.nav-item {
  padding: 8px 0;
  font-size: 18px;
  line-height: 1.6;
  letter-spacing: 0;
}

/* #endregion */

/* #region Hero */
.hero {
  margin-bottom: 100px;
}

.hero .container {
  position: relative;
  min-height: 530px;

  display: flex;
}

.hero-title {
  position: absolute;
  z-index: 2;
  width: 648px;
  font-family: Playfair Display;
  font-size: 50px;
  font-weight: 400;
  line-height: 75px;
  text-transform: uppercase;
}

.hero-list {
  display: flex;
  gap: 25px;
}

.hero-item:first-child {
  align-self: flex-end;
}

.hero-left-img {
}

.hero-center-img {
}

.hero-wrapper {
  display: block;
  margin-left: 25px;
}

.hero-right-img {
  margin-bottom: 59px;
}

.page-text {
  font-size: 18px;
  line-height: 1.5;
}

.page-button {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 224px;
  height: 50px;
  padding: 17px 65px;
  margin-top: 30px;

  color: #ffffff;
  background-color: #0a224a;
  border: 0;

  cursor: pointer;
}

.page-button:hover,
.page-button:focus {
  background-color: #061835;
}

/* #endregion */

/* #region About us */
.about-us {
}

.about-us .container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 24px;
}

.about-left {
  min-width: 100px;
  height: 500px;
}

.about-left-inside {
  background-color: #f7faff;
  display: flex;
  flex-direction: column;
  gap: 30px;
  padding: 36px 69px;
}

.about-title {
  position: relative;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  margin-left: 50px;
}

.about-title::before {
  position: absolute;
  top: 11px;
  left: -50px;

  content: "";
  width: 30px;
  height: 1px;

  background-color: #0a224a;
}

.page-title {
  font-size: 32px;
  font-weight: 400;
  line-height: 1.4;
  text-transform: uppercase;
}

.about-list {
  display: flex;
  gap: 56px;
}

.about-item {
  display: flex;
  flex-direction: column;
  gap: 23px;

  min-width: 170px;
}

.about-item-title {
  text-align: center;
  font-size: 50px;
  font-weight: 400;
  line-height: 1.5;
  text-transform: uppercase;
}

.about-item .page-text {
  text-align: center;
  font-size: 18px;
  line-height: 1.5;
}

.about-picture {
}

/* #endregion */

/* #region Prices */
.prices {
}

.prices-left-list {
}

.prices-left-item {
}

.prices-right-list {
}

.page-price {
}

/* #endregion */

/* #region Products */
.our-products {
}

.products-list {
}

.products-item {
}

.products-img {
}

/* #endregion */

/* #region Bestsellers */
.bestsellers {
}

.bestsellers-list {
}

.bestsellers-item {
}

.bestsellers-img {
}

.page-price {
}

/* #endregion */

/* #region Reviews */
.reviews {
}

.reviews-list {
}

.reviews-item {
}

.reviews-img {
}

.page-name {
}

.page-date {
}

/* #endregion */

/* #region Newsletter */
.newsletter {
}

.newsletter-form {
}

.newsletter-input {
}

.newsletter-checkbox {
}

.newsletter-agreement {
}

.newsletter-img {
}

/* #endregion */

/* #region Footrer */
.footer {
}

.footer-address {
}

.footer-address-item {
}

.footer-nav {
}

.footer-nav-item {
}

.footer-contact {
}

.footer-contact-list {
}

.footer-contact-item {
}

.footer-contact-link {
}

.footer-socials {
}

.footer-socials-item {
}

.footer-socials-icon {
}

.footer-sicials-item {
}

.footer-terms-and-privacy {
}

.footer-terms {
}

.footer-link {
}

.footerprivacy {
}

/* #endregion */
